.blue_rect{
    fill:blue;
    stroke: black;
}

.red_rect{
    fill:red;
    stroke: black;
}

line{
    stroke:black;
    stroke-width:2;
}

path{
    fill:transparent;
    stroke:black;
    stroke-width:2;
}