#scatterplot_1{
    background-image: url(./image1_transparent.png);
}

#scatterplot_2{
    background-image: url(./image2_transparent.png);
}

#scatterplot_3{
    background-image: url(./image3_transparent.png);
}